.detail-user-page {
  display: grid;
  margin-top: $header-margin;
  height: 100%;
  width: 100%;
  grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
  grid-template-rows: min-content min-content minmax(71vh, min-content);
  column-gap: 2rem;
  grid-template-areas:
    " a headingPage headingPage e"
    "a headingProfile headingCards  e"
    "a profile cards  e";

  @media only screen and (max-width: $bp-preLargest) {
    grid-template-columns: 0.2fr 0.9fr 2fr 0.2fr;
    grid-template-rows: min-content min-content minmax(71vh, min-content);
    grid-template-areas:
      " a headingPage headingPage e"
      "a headingProfile headingCards  e"
      "a profile cards  e";
  }

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 0.9fr 2fr;
    grid-template-rows: min-content min-content minmax(71vh, min-content);
    grid-template-areas:
      "  headingPage headingPage "
      " headingProfile headingCards  "
      " profile cards  ";
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    margin-top: 2rem;
    grid-template-rows: min-content min-content min-content min-content minmax(
        71vh,
        min-content
      );
    grid-template-areas:
      "headingPage"
      " headingProfile" " profile" "headingCards  "
      "cards  ";
  }
}

////////////Heading Profile////////////

.heading-profile {
  display: grid;
  grid-area: headingProfile;
  padding: 2rem;

  &__heading {
    padding: 2rem;
    border-bottom: solid;
    border-width: 2px;
    border-color: $color-primary;
  }
}

.block-profile {
  display: grid;
  grid-area: profile;
  @include glassfilter;
  padding: 2rem;
  row-gap: 2rem;
  margin: 2rem;
  height: min-content;
}

//////////// Heading Cards ////////////

.heading-cards {
  display: grid;
  grid-area: headingCards;
  padding: 2rem;

  &__heading {
    display: grid;
    align-self: end;
    padding: 2rem;
    border-bottom: solid;
    border-width: 2px;
    border-color: $color-primary;
    vertical-align: text-bottom;
  }
}

////////////  Cards Block ////////////

.block-cards {
  display: grid;
  grid-area: cards;
  @include glassfilter;
  padding: 2rem;
  row-gap: 2rem;
  margin: 2rem;
  height: min-content;
  align-self: start;

  &__span {
    display: grid;
    justify-content: center;

    &__is-cards {
      border-bottom: solid;
      border-width: 2px;
      text-align: center;
      padding: 1rem;
    }
  }

  &__icon {
    display: grid;
    justify-content: center;
    align-content: center;
    color: $color-primary;
    margin-top: 1rem;
    margin-left: 1rem;

    @media only screen and (min-width: $bp-medium) {
      &:hover {
        transition: all 0.2s;
        transform: translateY(-3px);
        color: $color-logo;

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
    }
  }

  &__list {
    border-top: solid;
    border-width: 2px;
    border-color: $color-logo;
    padding-top: 2rem;
    display: grid;
    row-gap: 1rem;
    &__span {
      display: grid;
      justify-content: center;
    }
  }
}

.block-profile__link-change__icon {
  display: grid;
  justify-self: center;
}
