.standart-button {
  background: linear-gradient(
    to right bottom,
    $color-primary,
    $color-primary-dark
  );
  color: white;
  height: 40px;
  width: auto;
  display: grid;
  justify-content: center;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
  align-content: center;
  font-size: $font-desctop;
  font-weight: 540;
  letter-spacing: 0.1rem;
  padding: 1rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.3rem;
  }

  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
    background: linear-gradient(
      to right bottom,
      $color-white,
      $color-grey-glass
    );
    color: black;

    @media only screen and (max-width: $bp-medium) {
      background: linear-gradient(
        to right bottom,
        $color-primary,
        $color-primary-dark
      );
      color: white;
      transform: none;
    }

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      @media only screen and (max-width: $bp-medium) {
        transform: none;
      }
    }
  }
  &:active,
  &:focus {
    outline: none;
  }
}

.disable-button {
  background: linear-gradient(to right bottom, $color-white, $color-grey-glass);
  color: black;
  height: 40px;
  width: auto;
  display: grid;
  text-decoration: none;
  border-radius: 10px;
  justify-content: center;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
  align-content: center;
  font-size: $font-desctop;
  font-weight: 540;
  letter-spacing: 0.1rem;
  padding: 1rem;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.3rem;
  }
}
