.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  grid-template-areas: "1 projectLogo webRights socialIcons 2";
  padding: 2rem;
  margin-top: 6rem;
  background: linear-gradient(
    0deg,
    #ec290f7e,
    #ec290f2f,
    #ec290f11,
    #00000000,
    #00000000,
    #00000000
  );

  @media only screen and (max-width: $bp-medium) {
    padding-bottom: 3rem;
  }

  @media only screen and (max-width: 750px) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-areas: "projectLogo" "socialIcons" "webRights";
    row-gap: 2rem;
  }

  ///////////////////////LOGO///////////////////////////

  &__project-logo {
    display: grid;
    grid-area: projectLogo;
    grid-template-columns: 7rem 1fr;
    @media only screen and (max-width: 750px) {
      justify-self: center;
      margin-right: 1rem;
    }
    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 4rem;
    }

    &__img {
      width: 6rem;
      border: solid;
      border-top: none;
      border-left: none;
      border-bottom: none;
      border-color: $color-logo;
      border-width: 2px;
    }

    &__span-whrapper {
      display: grid;
      grid-template-rows: 1.8rem 2.4rem 2rem;
      justify-self: start;
      padding-top: 0.3rem;
    }
  }

  ///////////////////////WEB-RIGHTS///////////////////////////

  &__web-rights {
    display: grid;
    grid-area: webRights;

    &__span {
      justify-self: center;
      align-self: center;
    }
    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 4rem;
    }
  }

  ///////////////////////SOCIAL ICONS///////////////////////////

  &__social-icons {
    display: grid;
    grid-area: socialIcons;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: end;

    @media only screen and (max-width: 750px) {
      justify-self: center;
    }
    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 4rem;
    }

    &__icon {
      color: $color-primary;
      &:hover {
        transition: all 0.2s;
        transform: translateY(-3px);
        color: white;

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
    }

    &__vk {
      &:hover {
        color: #4c75a3;
        background: radial-gradient(
          #ffffff,
          #ffffff,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        );
      }
    }
    &__facebook-a-tag {
      justify-self: center;
    }
    &__facebook {
      margin-top: 5px;
      justify-self: center;

      &:hover {
        color: #3b5998;
        background: radial-gradient(
          #ffffff,
          #ffffff,
          #ffffff,
          #ffffff,
          #ffffff,
          rgba(255, 255, 255, 0.226),
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        );
      }
    }
  }
}
