.input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 2rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.315);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  height: 4.5rem;
  display: block;
  transition: all 0.3s;

  @include respond(tab-port) {
    width: 100%;
  }

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(black, 0.1);
    border-bottom: 3px solid $color-primary;
  }

  &:focus:invalid {
    border-bottom: 3px solid rgb(44, 44, 44);
  }

  &::-webkit-input-placeholder {
    color: rgb(44, 44, 44);
  }
}

.first-input {
  font-style: italic;
}
