.navbar-mobile {
  display: none;
  position: fixed;
  grid-template-columns: repeat(7, 1fr);
  height: auto;
  width: 100vw;
  z-index: 9999;

  @media only screen and (max-width: $bp-medium) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    bottom: 0;
  }

  &__button {
    height: auto;
    margin-left: 0px;
    color: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
    text-align: center;
    align-content: center;
    border: none;
    font-weight: 1000;
    letter-spacing: 0.3rem;
    box-shadow: 1 3rem 4rem rgba(0, 0, 0, 0.37);
    background: linear-gradient(
      to bottom,
      $color-primary-no-glass,
      $color-primary-dark-no-glass
    );
    &__icon {
      margin: 2rem;
    }

    &__active {
      background: linear-gradient(
        to right bottom,
        $color-white-no-glass,
        $color-white-no-glass-secondary
      );
      color: $color-logo;
    }
  }
}
