.navbar {
  display: grid;
  position: fixed;
  grid-template-columns: repeat(7, 1fr);
  height: auto;
  width: 100vw;
  z-index: 9999;

  @media only screen and (max-width: $bp-medium) {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    bottom: 0;
  }

  &__project-logo {
    display: grid;
    margin-top: 0.2rem;
    grid-column: 5/7;
    grid-template-columns: 7rem 1fr;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }

    &__img {
      width: 6rem;
      border: solid;
      border-top: none;
      border-left: none;
      border-bottom: none;
      border-color: $color-logo;
      border-width: 3px;
    }

    &__span-whrapper {
      display: grid;
      grid-template-rows: 2.5rem 3rem;
      justify-self: start;
      margin-bottom: 1.5rem;
    }

    &__span-main {
      display: grid;

      margin-bottom: 1rem;
    }
  }
}

.navbar-grey {
  background: linear-gradient(
    180deg,
    #ec290fb9,
    #ec290f8e,
    #ec290f65,
    #ec290f46,
    #ec290f2d,
    #00000000
  );
  @media only screen and (max-width: $bp-medium) {
    background: $color-primary;
  }
  transition: all 0.4s;
}

.navbar-glass {
  background-color: $color-white-glass-zero;
  transition: all 0.4s;
  border-radius: 0rem 0rem 0rem 3rem;

  @media only screen and (max-width: $bp-medium) {
    background: $color-primary;
  }
}

.nav-button {
  height: auto;
  margin-left: 0px;
  color: black;
  display: grid;
  justify-content: center;
  text-align: center;
  align-content: center;
  border: none;
  font-weight: 1000;
  letter-spacing: 0.3rem;
  box-shadow: 1 3rem 4rem rgba(0, 0, 0, 0.37);

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: $font-desctop-medium;
    transition: all 0.4s;
    position: relative;

    cursor: pointer;
    @media only screen and (max-width: $bp-medium) {
      height: 6rem;
      font-size: 1.3rem;
      font-weight: 700;
    }
    @media only screen and (max-width: 365px) {
      font-size: 1rem;
      font-weight: 700;
    }
  }
  &:hover {
    font-weight: 1000;
    background: linear-gradient(
      to right bottom,
      $color-white,
      $color-grey-glass
    );
    color: black;
    transition: all 0.4s;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &__logout {
    grid-column: 7/8;
    color: white;
    font-weight: 1000;
    border-radius: 0rem 0rem 0rem 7rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
    background: linear-gradient(
      to right bottom,
      $color-primary,
      $color-primary-dark
    );
    @media only screen and (max-width: $bp-medium) {
      grid-column: 4/5;

      border-radius: 0rem;
    }

    &:hover {
      background: linear-gradient(
        to right bottom,
        $color-white,
        $color-grey-glass
      );
      color: black;
      font-weight: 1000;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }
  &__resume {
    border-radius: 0rem 0rem 7rem 0rem;
    @media only screen and (max-width: $bp-medium) {
      border-radius: 0rem;
    }
  }
}
.active-nav-button {
  background: linear-gradient(to right bottom, $color-white, $color-grey-glass);
  color: black !important;
}
.nav-logo {
  grid-column: 4/7;
  justify-content: center;
  text-align: center;
  align-content: center;
  text-shadow: 3px 2px 9px #000000;
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  @media only screen and (max-width: $bp-medium) {
    margin-left: 2rem;
    padding: 2rem;
    font-size: 2rem;
    display: none;
  }
  @media only screen and (max-width: 800px) {
    display: none;
  }
}
