.my-card {
  @include glassfilter;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 2rem;

  &__data {
    text-decoration: none;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    row-gap: 0rem;
  }
  &__icon {
    display: grid;
    justify-content: center;
    align-content: center;
    color: $color-primary;
    @media only screen and (min-width: $bp-medium) {
      &:hover {
        transition: all 0.2s;
        transform: translateY(-3px);
        color: $color-logo;

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
    }
  }
}
