.form-create {
  display: grid;
  grid-area: form;
  @include glassfilter;
  grid-template-rows: repeat(10, min-content);
  row-gap: 1.2rem;
  padding: 2rem;
  margin: 2rem;

  &__heading-secondary {
    margin-bottom: 1rem;
    padding: 1rem;
  }
  &__heading-primary {
    padding: 1rem;
  }

  &__input {
    display: grid;
    grid-template-columns: 1fr 2fr;
    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
    }

    &__error {
      margin-left: 2rem;
      color: red;
      grid-column: 2/3;
      @media only screen and (max-width: $bp-small) {
        grid-column: 1/2;
      }
    }

    &__label {
      justify-self: start;
      align-self: start;
      padding-left: 1rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
    }

    &__select {
      display: grid;
      @include glassfilterPrimaryColor;
      width: 15em;
      height: 5rem;
      color: black;
      font-size: 1.5rem;
      font-weight: 400;
      border: none;
      transition: all 0.2s;
      padding: 1rem;
      @media only screen and (max-width: $bp-large) {
        padding: 4px;
      }
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
      &:focus {
        outline: none;
      }
      &__option {
        background: $color-white-glass;
      }
    }

    &__input-field {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background-color: $color-grey-glass;
      -webkit-appearance: none;
      border: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
      border-radius: 10px;
      resize: none;
      width: 100%;
      padding: 1rem;
      padding-left: 2rem;
      transition: all 0.2s;
      letter-spacing: 0.3rem;
      @media only screen and (max-width: $bp-medium) {
        width: 100%;
        padding-left: 2rem;
        font-weight: 800;
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }

      &:focus {
        outline: none;
        width: 100%;

        background-color: $color-white-glass;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
        font-weight: 800;

        font-size: 2rem;
        color: black;

        @media only screen and (max-width: $bp-medium) {
          transform: none;
        }

        &::after {
          font-weight: 800;

          font-size: 2rem;
          color: black;
        }
      }

      &::placeholder {
        font-weight: 800;
        font-size: 1.5rem;
        color: $color-white-glass;
      }

      &::-webkit-input-placeholder {
        font-weight: 800;
        font-size: 1.5rem;
        color: $color-white-glass;
      }
      &::-ms-input-placeholder {
        font-weight: 800;
        font-size: 1.5rem;
        color: $color-white-glass;
      }
      &:focus::-webkit-input-placeholder {
        color: black;
      }
    }
  }
}

.input-field {
  &__small {
    height: 5rem;
  }
  &__big {
    height: 15rem;
  }
}
