.search-card {
  @include glassfilterNoShadow;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.157);
  margin: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  padding: 2rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "link owner";
  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }

  &__link {
    display: grid;
    grid-area: link;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "name" "salary" "updated-at";
  }
  &__name {
    grid-area: name;
  }

  &__updated-at {
    grid-area: updated-at;
  }

  &__owner {
    grid-area: owner;
    width: 100%;
    align-self: center;
    justify-self: start;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    &:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
    }
  }

  &__salary {
    grid-area: salary;
  }
}

.no-cards-search {
  display: grid;
  justify-self: center;
  padding: 2rem;
}
