.heading-page {
  display: grid;
  grid-area: headingPage;
  justify-self: center;
  border-bottom: solid;
  border-color: $color-primary;
  &__mobile {
    display: grid;
    grid-area: headingPage;
    justify-self: center;
    border-bottom: solid;
    border-color: $color-primary;
    @media only screen and (min-width: $bp-medium) {
      display: none;
    }
  }
}
