.employer-card {
  @include glassfilter;
  margin: 2rem;
  padding: 2rem;
  height: min-content;
  width: 40rem;
  display: grid;
  justify-self: end;
  grid-area: employer;

  @media only screen and (max-width: $bp-medium) {
    justify-self: center;
    width: auto;
  }

  &__bio {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content;
    row-gap: 1rem;
    &__contact {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
