.block-employer-profile {
  display: grid;
  row-gap: 1rem;
  &__a-link {
    display: grid;
    grid-column: 1/3;
    justify-self: center;
  }
  &__name {
    padding: 1rem;
    justify-self: center;

    &__data {
      border-bottom: solid;
      border-width: 2px;
      border-color: $color-logo;
      width: min-content;
    }
  }

  &__description {
    padding: 1rem;
    white-space: pre-wrap;
  }

  &__information {
    display: grid;
    grid-template-columns: minmax(min-content, 15rem) 2fr;
    padding: 1rem;

    &__main {
      @include glassfilter;
    }
  }
}
