.check-box-component {
  align-self: center;
  &:after {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }
  &:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $color-primary;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }
}
