.input-component {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: $color-grey-glass;
  -webkit-appearance: none;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
  border-radius: 10px;
  resize: none;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  padding-left: 2rem;
  transition: all 0.2s;
  letter-spacing: 0.3rem;
  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    padding-left: 2rem;
    font-weight: 800;
  }

  &:focus {
    outline: none;
    width: 100%;
    background-color: $color-white-glass;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
    font-weight: 800;
    font-size: 1.5rem;
    color: black;

    @media only screen and (max-width: $bp-medium) {
      transform: none;
    }

    &::after {
      font-weight: 800;
      font-size: 1.5rem;
      color: black;
    }
  }

  &::placeholder {
    font-weight: 800;
    font-size: 1.5rem;
    color: $color-white-glass;
  }

  &::-webkit-input-placeholder {
    font-weight: 800;
    font-size: 1.5rem;
    color: $color-white-glass;
  }
  &::-ms-input-placeholder {
    font-weight: 800;
    font-size: 1.5rem;
    color: $color-white-glass;
  }
  &:focus::-webkit-input-placeholder {
    color: black;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
