.select-component {
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: $color-grey-glass;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
  border-radius: 10px;
  transition: all 0.2s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &__select {
    display: grid;
    background-color: rgba(255, 255, 255, 0);
    height: 4rem;
    color: $color-logo;
    font-size: 1.5rem;
    margin-left: 2rem;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
    padding: 1rem;
    cursor: pointer;
    -webkit-appearance: none;

    @media only screen and (max-width: $bp-large) {
      padding: 4px;
    }

    &:focus {
      outline: none;
    }
  }
  &__arrow {
    display: grid;
    align-self: center;
    color: $color-primary;
  }
}
