.change-resume-page {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: min-content min-content;
  margin: $header-margin;
  grid-template-areas: "empty-left heading empty-right" "empty-left form empty-right";
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-areas: "heading" "form" "create";
    margin: 8rem 3rem 2rem 2rem;
  }
}
.change-resume-heading {
  grid-area: heading;
  margin: 2rem;
  padding: 2rem;
}
