.create-vacancy-page {
  display: grid;
  margin: $header-margin;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: "empty-left heading empty-right" "empty-left form empty-right";
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-areas: "heading" "form" "create";
    margin: 8rem 3rem 2rem 2rem;
  }
}

.create-vacancy-button {
  margin-top: 2rem;
  align-self: center;
  justify-self: center;
  @media only screen and (max-width: $bp-medium) {
    margin: 2rem;

    align-self: center;
    justify-self: center;
    margin-top: 4rem;
  }
}
