.create-employer-page {
  margin: $header-margin;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: "empty-left heading empty-right" "empty-left form empty-right";
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-areas: "heading" "form" "create";
    margin: 8rem 3rem 2rem 2rem;
  }
}
.create-heading {
  margin: 4rem;
  grid-area: heading;
  @media only screen and (max-width: $bp-medium) {
    margin: 2rem;
  }
}
.create-employer-button {
  margin: 2rem;
  margin-top: 4rem;
  align-self: end;
  justify-self: end;
  @media only screen and (max-width: $bp-medium) {
    margin: 2rem;
    align-self: center;
    justify-self: center;
  }
}

.employer-form {
  display: grid;
  grid-area: form;
  @include glassfilter;
  grid-template-rows: repeat(9, min-content);
  row-gap: 1rem;
  padding: 2rem;
  @media only screen and (max-width: $bp-medium) {
    margin: 2rem;
  }
  &__input {
    display: grid;
    grid-template-columns: 1fr 2fr;
    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
    }

    &__label {
      justify-self: start;
      align-self: start;
      padding: 1rem;
    }
    &__input-field {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background-color: $color-grey-glass;
      -webkit-appearance: none;
      border: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
      border-radius: 10px;
      resize: none;
      width: 90%;
      padding: 1rem;
      padding-left: 2rem;
      transition: all 0.2s;
      letter-spacing: 0.3rem;
      @media only screen and (max-width: $bp-medium) {
        width: 100%;
        padding-left: 2rem;
        font-weight: 800;
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }

      &:focus {
        outline: none;
        width: 100%;

        background-color: $color-white-glass;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
        font-weight: 800;

        font-size: 2rem;
        color: black;

        @media only screen and (max-width: $bp-medium) {
          transform: none;
        }

        &::after {
          font-weight: 800;

          font-size: 2rem;
          color: black;
        }
      }

      &::placeholder {
        font-weight: 800;
        font-size: 1.5rem;
        color: $color-white-glass;
      }

      &::-webkit-input-placeholder {
        font-weight: 800;
        font-size: 1.5rem;
        color: $color-white-glass;
      }
      &::-ms-input-placeholder {
        font-weight: 800;
        font-size: 1.5rem;
        color: $color-white-glass;
      }
      &:focus::-webkit-input-placeholder {
        color: black;
      }
    }
  }
}

.input-field {
  &__name {
    height: 8rem;
  }
  &__description {
    height: 15rem;
  }
  &__URL {
    height: 8rem;
  }
}
