.detail-vacancy-page {
  margin: $header-margin;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr 8fr;
  grid-template-areas: "empty-left photo change empty-right" "empty-left form form employer";
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr 0.2fr;
    gap: 1rem;
    overflow: auto;
    margin: 8rem 3rem 2rem 2rem;
    grid-template-areas:
      "photo" "employer"
      "form" "change";
    z-index: 5;
  }
}

.detail-vacancy {
  &__photo {
    display: grid;
    grid-area: photo;
    margin: 1rem;
    padding: 1rem;
  }

  &__change-button {
    display: grid;
    grid-area: change;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    align-content: center;
  }

  &__employer {
    display: grid;
    grid-area: employer;
    @include glassfilter;
    align-self: start;
    justify-self: start;
    height: min-content;
    width: 20rem;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    margin: 1rem;

    @media only screen and (max-width: $bp-medium) {
      height: min-content;
      width: 60vw;
      align-self: center;
      justify-self: center;
    }
  }

  &__form {
    @include glassfilter;
    display: grid;
    grid-area: form;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 1fr 1fr;
    grid-template-areas: "name createdAt" "mainInformation empty2 " "mainInformation  empty2" " mainInformation  empty2" "description description " "duties requirements";
    margin: 1rem;
    padding: 2rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
      gap: 1rem;
      grid-template-areas:
        "name createdAt"
        "createdAt" "mainInformation" "description"
        "duties requirements";
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
      gap: 1rem;
      grid-template-areas:
        "name" "createdAt"
        "createdAt" "mainInformation" "description"
        "duties" "requirements";
    }

    &__created-time {
      @include glassfilter;
      display: grid;
      grid-area: createdAt;
      justify-content: center;
      align-content: center;
      margin: 1rem;
      padding: 1rem;
    }

    &__name {
      display: grid;
      grid-area: name;
      align-content: center;
      margin: 1rem;
      padding: 1rem;

      @media only screen and (max-width: $bp-small) {
        align-content: center;
        justify-self: center;
      }
    }

    &__main-information {
      @include glassfilter;
      display: grid;
      grid-area: mainInformation;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "salary" "requiredExperience" "typeOfEmployment";
      margin: 1rem;
      padding: 1rem;

      &__salary {
        grid-area: salary;
        align-self: center;
      }
      &__required-experience {
        display: grid;
        grid-area: requiredExperience;
      }
      &__type-of-employment {
        display: grid;
        grid-area: typeOfEmployment;
      }
    }

    &__description {
      @include glassfilter;
      display: grid;
      grid-area: description;
      margin: 1rem;
      padding: 1rem;
    }

    &__duties {
      @include glassfilter;
      display: grid;
      grid-area: duties;
      margin: 1rem;
      padding: 1rem;
    }

    &__requirements {
      @include glassfilter;
      display: grid;
      grid-area: requirements;
      margin: 1rem;
      padding: 1rem;
    }
  }
}
