.detail-applicant-page {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas: "empty1 applicant resume empty2";
  margin: $header-margin;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "applicant" "resume";
    margin: 8rem 3rem 2rem 2rem;
  }
}
.applicant-card {
  grid-area: applicant;
  display: grid;
  padding: 2rem;
  margin: 2rem;
  @include glassfilter;
  height: min-content;
  width: 40rem;
  grid-template-rows: repeat(9, 6rem);
  @media only screen and (max-width: $bp-medium) {
    justify-self: center;
    width: 300px;
    row-gap: 1rem;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__social-network {
      justify-self: center;
    }
  }
}
.change-applicant-button {
  justify-self: center;
}

.no-resume-detail-applicant {
  @include glassfilter;
  grid-area: resume;
  height: min-content;
  margin: 2rem;
  padding: 2rem;
}

.resume-detail-applicant {
  &__list {
    grid-area: resume;
    margin: 2rem;
  }
  &__card {
    @include glassfilter;
    padding: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: 1fr 3fr;
    text-decoration: none;
  }
}
