.detail-resume-page {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas: "empty1 heading empty3 empty2" "empty1 form applicant empty2";
  margin: $header-margin;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-areas: "form" " applicant";
    margin: 8rem 3rem 2rem 2rem;
  }
}

.detail-resume__form {
  display: grid;
  grid-area: form;
  @include glassfilter;
  margin: 2rem;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  grid-template-areas:
    "name createdAt"
    "about about" "education experience" "salary change";
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "name" "createdAt"
      "about" "about" "education" "experience" "salary" "change";
  }

  &__name {
    grid-area: name;
    padding: 2rem;
  }

  &__created-time {
    grid-area: createdAt;
    @include glassfilter;
    padding: 2rem;
  }

  &__about-me {
    grid-area: about;
    padding: 2rem;
    display: grid;
    grid-template-rows: min-content min-content;
  }
  &__education {
    grid-area: education;
    @include glassfilter;
    padding: 2rem;
    display: grid;
    grid-template-rows: min-content min-content;
  }
  &__experience {
    grid-area: experience;
    padding: 2rem;
    @include glassfilter;
    display: grid;
    grid-template-rows: min-content min-content;
  }
  &__salary {
    grid-area: salary;
    @include glassfilter;
    padding: 2rem;
    display: grid;
    grid-template-rows: min-content min-content;
  }
}

.change-resume-button {
  text-decoration: none;
  grid-area: change;
  align-self: end;
}
