.detail-employer-page {
  display: grid;
  grid-template-areas: "empty1 employer list empty2";
  margin: $header-margin;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    gap: 1rem;
    overflow: auto;
    margin: 8rem 3rem 2rem 2rem;
    grid-template-areas: "employer" "list";
  }
}
