.home-page {
  margin-top: 6rem;
  height: 100%;
  display: grid;
  width: 100%;
  grid-template-columns: 0.3fr 0.2fr 1fr 1fr 1fr 0.3fr;
  grid-template-rows: 36rem min-content;
  gap: 2rem;
  grid-template-areas:
    "empty1 logoComponent logoComponent logoComponent validation empty2"
    " empty1 whrapper-for-information whrapper-for-information whrapper-for-information whrapper-for-information empty2";

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 0.2fr 1fr 1fr 1fr;
    grid-template-areas:
      "logoComponent logoComponent logoComponent validation"
      "whrapper-for-information whrapper-for-information whrapper-for-information whrapper-for-information";
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 0.2fr 1fr;
    gap: 1rem;
    grid-template-areas:
      "logoComponent"
      "validation" "whrapper-for-information";
  }
  &__logo-component {
    display: grid;
    grid-area: logoComponent;
    grid-template-columns: 0.2fr 1fr;
    grid-template-areas: "logo name";
    padding-right: 3.3rem;

    @media only screen and (max-width: $bp-preLargest) {
    }

    @media only screen and (max-width: $bp-medium) {
      justify-self: center;
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 8rem 15rem;
    }
  }
  &__whrapper-for-information {
    display: grid;
    box-shadow: 0px -2px 13px 7px rgba(116, 112, 112, 0.541);
    grid-template-columns: 0.2fr 1fr 1fr 1fr;
    grid-template-areas: "empty card card empty3";
    grid-area: whrapper-for-information;
    background-image: linear-gradient(
        to right bottom,
        #eee5e550,
        $color-primary
      ),
      url(../images/HomePage/4853433.jpg);
    background-size: cover;
    border-radius: 4rem 4rem 50rem 4rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-areas: " card ";
      grid-template-columns: 1fr;
      padding-bottom: 5rem;
    }
    @media only screen and (max-width: $bp-small) {
      grid-template-areas: " card ";
      grid-template-columns: 1fr;
      padding-bottom: 5rem;
      border-radius: 4rem 4rem 15rem 4rem;
    }
  }

  &__logo-box {
    margin: 2rem;
    display: grid;
    grid-area: logo;

    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
    }
    &__logo {
      width: 18rem;
      padding-top: 0.6rem;
      border-width: 4px;
      border-style: solid;
      border-top: none;
      border-bottom: none;
      border-left: none;
      border-color: $color-logo;

      @media only screen and (max-width: $bp-preLargest) {
        width: 14rem;
      }

      @media only screen and (max-width: $bp-medium) {
        width: 11rem;
      }
      @media only screen and (max-width: $bp-small) {
        width: 6rem;
        border-width: 3px;
        margin: 1rem;
      }
    }
  }

  &__text-box {
    display: grid;
    grid-template-rows: 6rem 8rem 5rem;
    grid-area: name;
    justify-content: start;
    justify-self: start;
    padding-top: 2rem;
    padding-left: 0.7rem;

    @media only screen and (max-width: $bp-preLargest) {
      padding-top: 2.7rem;
      grid-template-rows: 4rem 5.5rem 5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      height: 100px;
      grid-template-rows: 3rem 4rem 3rem;
      padding-top: 3.1rem;
      padding-left: 0rem;
    }
    @media only screen and (max-width: $bp-small) {
      grid-template-rows: 2rem 2.6rem 3rem;
      padding-top: 3.2rem;
      padding-left: 0rem;
    }
  }

  &__validation {
    margin: 2rem;
    display: grid;
    grid-area: validation;
    padding: 2rem;
    margin-right: 8rem;
    height: min-content;
    @include glassfilterAuth;
    grid-template-columns: minmax(25rem, auto);

    @media only screen and (max-width: $bp-preLargest) {
      margin-right: 2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin: 2rem;
      grid-template-columns: 1fr;
      width: 35rem;
      height: min-content;
      justify-self: center;
      grid-template-rows: 0.1fr 1.3fr;
      gap: 1rem;
    }
    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 1fr;
      justify-self: center;
      width: 28rem;
    }

    &__login-form {
      display: grid;
      grid-template-rows: 7vh 10vh 5vh;
      grid-row-gap: 3.5rem;

      &__input-field {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
      }
    }

    &__registration-form {
      display: grid;
      grid-template-rows: repeat(6, 8rem);
      grid-row-gap: 2rem;

      &__input-field {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
      }
    }
  }

  &__validation-buttons {
    display: grid;
    justify-self: start;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    border: solid;
    border-right: none;
    border-left: none;
    border-top: none;
    border-width: 2px;
    border-color: $color-logo;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    @media only screen and (max-width: $bp-medium) {
      grid-template-rows: min-content;
      padding-bottom: 1rem;
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    @media only screen and (max-width: $bp-small) {
      padding-bottom: 1rem;
      justify-self: start;
    }

    &__registration {
      background: linear-gradient(
        to right bottom,
        $color-primary,
        $color-primary-dark
      );
      height: 30px;
      border-radius: 10px;
      width: 150px;
      display: grid;
      font-weight: 550;
      letter-spacing: 3px;
      color: white;
      justify-self: center;
      justify-content: center;
      align-self: center;
      align-content: center;
      border: none;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.226);
      @media only screen and (max-width: $bp-medium) {
        width: 180px;
        height: 40px;
        font-size: 1.7rem;
      }
      &,
      &:link,
      &:visited {
        text-transform: uppercase;
        text-decoration: none;

        display: inline-block;
        border-radius: 10px;
        transition: all 0.2s;
        position: relative;

        cursor: pointer;
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }

      &:active,
      &:focus {
        outline: none;
        transform: translateY(-6px);
        padding: 3px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.226);
      }
    }
    &__login {
      background: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-light-glass
      );
      height: 30px;
      border-radius: 10px;
      padding-bottom: 1rem;
      width: 100px;
      margin-left: 50px;
      display: grid;
      font-weight: 550;
      letter-spacing: 3px;
      color: white;
      justify-self: center;
      justify-content: center;
      align-self: center;
      align-content: center;
      border: none;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.226);

      @media only screen and (max-width: $bp-medium) {
        width: 180px;
        height: 40px;
        font-size: 1.7rem;
        margin-left: 0px;
      }

      &,
      &:link,
      &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        transition: all 0.2s;
        position: relative;
        cursor: pointer;
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }

      &:active,
      &:focus {
        outline: none;
        transform: translateY(-6px);
        padding: 3px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.226);
      }
    }
  }
}

.email-label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  padding-left: 1.5rem;
}

.choose-role__form {
  margin: 1.5rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}

.block-users {
  display: grid;
  grid-area: card;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  width: min-content;
  height: 100%;
  justify-self: center;

  @media only screen and (max-width: $bp-preLargest) {
    column-gap: 1rem;
  }
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
  }
}

.user-card-home {
  padding: 2rem;
  display: grid;
  margin: 2rem;
  grid-template-rows: min-content min-content;
  margin-bottom: 3rem;
  @include glassfilterСard;
  width: min-content;
  justify-self: center;

  @media only screen and (max-width: $bp-preLargest) {
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__heading {
    font-size: $font-desctop-big;
    justify-self: center;
    font-weight: 800;
    padding-bottom: 4rem;
    @media only screen and (max-width: $bp-medium) {
      font-size: $font-tab-medium;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: min-content min-content min-content;
    row-gap: 1rem;
    &__text {
      font-size: $font-desctop-big;
      color: rgb(26, 26, 26);
    }
    &__pointer {
      align-self: start;
      justify-self: center;

      color: rgb(255, 255, 255);
      font-size: $font-desctop-big;
    }
  }
  &__image {
    width: 30rem;
    padding: 2rem;
    height: 20rem;

    @media only screen and (max-width: $bp-preLargest) {
      width: 25rem;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 30rem;
    }
    @media only screen and (max-width: $bp-small) {
      width: 24rem;
    }
  }
}

.login-submit-button {
  margin-top: 1rem;
  background: $color-fourth !important;
  &:hover {
    background: linear-gradient(
      to right bottom,
      $color-white,
      $color-grey-glass
    ) !important;
  }
}

.auth-loader {
  margin-top: 1rem;
}

.registration-submit-button {
  margin-top: 1rem;
}

.arrow-back {
  color: $color-primary;

  cursor: pointer;
  &:hover {
    color: white !important;
  }
}

.privacy-block {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 1rem;
  padding: 1rem;

  &__check-box {
    display: grid;
    align-self: start !important;
    margin-top: 0.6rem;
  }

  &__link {
    color: $color-primary;
  }
}
