.container-employer-page {
  margin: $header-margin;
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
  grid-template-areas: "empty employer vacancies empty2";

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-areas: " employer" "vacancies";
    grid-template-rows: min-content min-content;
    margin: 8rem 3rem 3rem;
  }
}
.employer-info {
  display: grid;
  grid-area: employer;
  margin: 2rem;
}
.employers-vacancies {
  display: grid;
  grid-area: vacancies;
  margin: 2rem;
}

.create-vacancy-button {
  margin-top: 0rem;
  margin-bottom: 3rem;
  @media only screen and (max-width: $bp-medium) {
    justify-self: end;
    align-self: end;
  }
}
