.container-applicant-page {
  grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr;
  grid-template-areas: "empty1 applicant resume empty2";
  display: grid;
  margin: $header-margin;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "applicant" "resume";
    margin: 8rem 3rem 2rem 2rem;
  }
}
.applicant-info {
  display: grid;
}

.no-resume-no-applicant {
  @include glassfilter;
  height: min-content;
  padding: 2rem;
  margin: 2rem;
  grid-area: resume;
}
.offer-container-applicant {
  @include glassfilter;
  height: min-content;
  padding: 2rem;
  margin: 2rem;
  grid-area: resume;
  grid-area: applicant;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
  @media only screen and (max-width: $bp-medium) {
    justify-content: center;
  }
}
.create-applicant-button {
  justify-self: center;
}
.applicant-info-block {
  @include glassfilter;
  height: min-content;
  width: min-content;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  margin: 2rem;
  text-decoration: none;
  grid-area: applicant;
  @media only screen and (max-width: $bp-medium) {
    justify-self: center;
  }
  &__bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
  }
}
.no-resume-is-applicant {
  grid-area: resume;
  margin: 2rem;
  padding: 2rem;
  @media only screen and (max-width: $bp-medium) {
    justify-self: center;
  }
}

.create-resume-button {
  @media only screen and (max-width: $bp-medium) {
    justify-self: center;
  }
}
.applicant-resume-list {
  grid-area: resume;
}
.applicant-resume-card {
  @include glassfilter;
  text-decoration: none;

  margin: 2rem;
  padding: 2rem;
  height: min-content;
  display: grid;
  grid-template-rows: min-content min-content;
}
