.privacy-page {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.8fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    "empty1 diamonds empty2" "empty1 headingPage empty2"
    "empty1 textArea empty2";
  margin-top: $header-margin;

  @media only screen and (max-width: $bp-preLargest) {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: min-content min-content min-content;
    gap: 1rem;
    grid-template-areas:
      "empty1 diamonds empty2" "empty1 headingPage empty2"
      "empty1 textArea empty2";
  }

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: min-content min-content min-content;
    gap: 1rem;
    grid-template-areas:
      "empty1 diamonds empty2" "empty1 headingPage empty2"
      "empty1 textArea empty2";
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    margin-top: 2rem;
    gap: 1rem;
    grid-template-areas:
      "diamonds"
      "headingPage"
      "textArea";
  }

  &__arrow-back {
    position: fixed;
    margin: 2rem;
    @media only screen and (max-width: $bp-medium) {
      margin-top: 8rem;
    }
    &__icon {
      margin-top: 0.35rem;
      justify-content: center;
      align-content: center;
      color: $color-primary;

      @media only screen and (min-width: $bp-medium) {
        &:hover {
          transition: all 0.2s;
          transform: translateY(-3px);
          color: $color-logo;

          &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
          }
        }
      }
    }
  }
}

.diamonds-block {
  display: grid;
  grid-area: diamonds;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
  justify-self: center;
  column-gap: 4rem;
}

.diamond-icon {
  color: $color-primary;
}

.privacy-text-block {
  padding: 2rem;
  display: grid;
  grid-area: textArea;
}
