.block-applicant-profile {
  display: grid;
  row-gap: 1rem;
  &__name {
    justify-self: center;
  }
  &__social-icons {
    display: grid;
    grid-column: 1/3;
    justify-self: center;

    &__icon {
      display: grid;

      color: $color-primary;

      &:hover {
        transition: all 0.2s;
        transform: translateY(-3px);
        color: white;

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
    }

    &__vk {
      &:hover {
        color: #4c75a3;
        background: radial-gradient(
          #ffffff,
          #ffffff,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        );
      }
    }
    &__facebook-a-tag {
      justify-self: center;
    }
    &__facebook {
      &:hover {
        color: #3b5998;
        background: radial-gradient(
          #ffffff,
          #ffffff,
          #ffffff,
          #ffffff,
          #ffffff,
          rgba(255, 255, 255, 0.226),
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        );
      }
      margin-top: 5px;

      justify-self: center;
    }
  }
  &__name {
    display: grid;
    padding: 1rem;

    &__lastname {
      border-bottom: solid;
      border-width: 2px;
      border-color: $color-logo;
      width: min-content;
    }
  }

  &__information {
    display: grid;
    grid-template-columns: minmax(min-content, 15rem) 2fr;
    padding: 1rem;

    &__main {
      @include glassfilter;
    }
  }
}
