*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.5rem;

  background: linear-gradient(
    120deg,
    $color-background-first,
    $color-background-third,
    $color-background-second
  );

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.whrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
