@mixin glassfilter {
  background: $color-grey-glass;
  box-shadow: 0 8px 32px 0 rgba(116, 112, 112, 0.37);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 10px;
}

@mixin glassfilterError {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(119, 119, 119, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin glassfilterСard {
  background: $color-grey-glass-card;
  box-shadow: 0 8px 32px 0 rgba(116, 112, 112, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
}

@mixin glassfilterAuth {
  background: #bdbdbdc5;
  box-shadow: 0px -2px 20px 9px rgba(116, 112, 112, 0.37);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 10px;
}

@mixin glassfilterNoShadow {
  background: $color-grey-glass;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
}

@mixin buttonGlassFilter {
  background: rgba(202, 22, 22, 0);
  box-shadow: 0 8px 32px 0 rgba(106, 106, 107, 0.37);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border-radius: 10px;
}

@mixin glassfilterBrown {
  background: $color-brown-glass;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}

@mixin glassfilterPrimaryColor {
  background: $color-grey-glass;
  box-shadow: 0 8px 32px 0 rgba(124, 124, 124, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}
