.heading-primary {
  color: white;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &__main {
    display: block;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 1.5rem;
    color: $color-logo;

    @media only screen and (max-width: $bp-preLargest) {
      font-size: 4rem;
      letter-spacing: 1rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 3rem;
      letter-spacing: 0.5rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
      letter-spacing: 0.1rem;
    }

    &__upper {
      justify-self: start;
    }
    &__down {
      justify-self: start;
    }
  }

  &__sub {
    color: $color-logo;
    display: block;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    white-space: nowrap;

    @media only screen and (max-width: $bp-preLargest) {
      font-size: 1.73rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.23rem;
      letter-spacing: 0.1rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 0.85rem;
      letter-spacing: 0rem;
    }
  }
}

.heading-secondary {
  margin-bottom: 0.5rem;
  font-weight: 600;
  padding-left: 1.5rem;
}

.heading-registration {
  font-weight: 600;
}

.heading-main-bolt {
  font-size: 4rem;
  font-weight: 400;
}

.heading-grey {
  font-size: $font-desctop;
  font-weight: 400;
  color: rgb(54, 64, 75);
  letter-spacing: 0.1rem;
  text-decoration: none;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.3rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1rem;
  }
}

.heading-main-information {
  font-size: $font-desctop-big;
  color: $color-logo;
  font-weight: 700;
  letter-spacing: 0.1rem;
  @media only screen and (max-width: $bp-medium) {
    font-size: 1.8rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.3rem;
  }
}

.heading-main-information-black {
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  font-weight: 700;
  letter-spacing: 0.1rem;
  @media only screen and (max-width: $bp-medium) {
    font-size: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1.3rem;
  }
}

.heading-web-rights {
  font-size: 1.2rem;
  white-space: nowrap;
  @media only screen and (max-width: 750px) {
    white-space: pre-wrap;
    font-size: 1rem;
  }
}

.heading-sub-information {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  font-weight: 400;
  letter-spacing: 0.1rem;
  @media only screen and (max-width: $bp-small) {
    font-size: 1rem;
  }
}

.text-area-common {
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.heading-logo-footer {
  color: $color-logo;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.heading-sub-logo-footer {
  color: $color-logo;

  font-size: 0.63rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}

.heading-logo-navbar {
  color: $color-logo;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.heading-block-biggest {
  color: $color-logo;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.heading-block-big {
  color: $color-logo;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  @media only screen and (max-width: $bp-small) {
    font-size: 1.3rem;
  }
}

.heading-block-medium {
  color: $color-logo;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  @media only screen and (max-width: $bp-medium) {
    font-size: 1.3rem;
  }
}

.heading-block-medium-bold {
  color: $color-logo;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.3rem;
  }
}
$font-desctop: 1.3rem;
$font-tab: 1.5rem;
$font-phone: 1.6rem;

$font-desctop-big: 2rem;
$font-tab-big: 2.2rem;
$font-phone-big: 2.6rem;

$font-desctop-medium: 1.6rem;
$font-tab-medium: 1.8rem;
$font-phone-medium: 2rem;
