//COLOR

$color-background-first: #eee5e5;
$color-background-second: #fafaf4;
$color-background-third: #d8d8d8;

$color-logo: rgb(46, 46, 46);

$color-primary: #ec290fd7;
$color-primary-light: #ee5041;
$color-primary-light-glass: rgba(255, 82, 66, 0.609);
$color-primary-dark: #be190ac2;
$color-primary-no-glass: #ea4833;
$color-primary-dark-no-glass: #c33;

$color-secondary: #1775e7;
$color-secondary-light: rgb(69, 142, 231);
$color-secondary-light-glass: rgba(69, 142, 231, 0.65);
$color-secondary-dark: #1762be;

$color-tetriary: #20e4eb;
$color-tetriary-light: #20e4eb;
$color-tetriary-light-glass: rgba(76, 233, 238, 0.623);
$color-tetriary-dark: #19a4a8;

$color-fourth: #03c03cd7;

$color-grey-glass: rgba(255, 255, 255, 0.192);
$color-grey-glass-card: rgba(233, 233, 233, 0.808);
$color-grey-glass-MAX: rgba(231, 224, 224, 0.513);
$color-grey-navbar: rgb(209, 202, 181);
$color-grey-glass-icon: rgb(255, 240, 240);

$color-black-glass: rgba(44, 44, 44, 0.568);

$color-white-glass: rgba(255, 255, 255, 0.877);
$color-white: white;
$color-white-glass-zero: rgba(255, 255, 255, 0);
$color-white-no-glass: #fdfdfd;
$color-white-no-glass-secondary: #eaeae9;

$color-brown: rgb(114, 96, 96);
$color-brown-glass: rgba(114, 96, 96, 0.63);
$color-green: rgb(129, 169, 142);
$color-yellow: rgb(252, 184, 83);

$color-red: rgb(226, 145, 115);

$background-color-first: rgba(255, 30, 0, 0.5);
$background-color-second: rgba(0, 119, 255, 0.5);

$bp-largest: 95em;
$bp-preLargest: 90em;
$bp-large: 80em;
$bp-medium: 60em;
$bp-small: 37.5em;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

//Font

$font-desctop: 1.3rem;
$font-tab: 1.5rem;
$font-phone: 1.6rem;

$font-desctop-big: 2rem;
$font-tab-big: 2.2rem;
$font-phone-big: 2.6rem;

$font-desctop-medium: 1.6rem;
$font-tab-medium: 1.8rem;
$font-phone-medium: 2rem;

//Margin

$header-margin: 10rem;
