.block-card {
  display: grid;
  row-gap: 1rem;

  &__name {
    display: grid;
    grid-template-columns: min-content min-content;
    align-self: center;
    column-gap: 0.5rem;
  }

  &__link-change {
  
    &__icon {
      margin-top: 0.35rem;
      display: grid;
      justify-content: center;
      align-content: center;
      color: $color-primary;

      @media only screen and (min-width: $bp-medium) {
        &:hover {
          transition: all 0.2s;
          transform: translateY(-3px);
          color: $color-logo;

          &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
          }
        }
      }
    }
  }

  &__information {
    display: grid;
    grid-template-rows: min-content min-content;
    &__span {
      margin-left: 2rem;
      margin-bottom: 0.4rem;
    }
    &__data {
      @include glassfilter;
      padding: 2rem;

      white-space: pre-line;
    }
  }
}
