.user-card {
  @include glassfilter;
  display: grid;

  padding: 2rem;

  &__data {
    text-decoration: none;
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr min-content;
    &__date {
      display: grid;
      align-self: end !important ;
    }
  }

  &__left {
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 2rem;
  }
  &__right {
    display: grid;
    align-self: end !important ;
  }
}
