.confirm-block {
  display: grid;
  justify-self: end;
}

.confirm-banner {
  @include glassfilter;
  display: grid;
  grid-template-columns: minmax(15rem, min-content) min-content;

  grid-template-areas: "span span" "check cross";
  &__span {
    display: grid;
    grid-area: span;
    padding: 1rem;
  }

  &__check-icon {
    display: grid;
    grid-area: check;

    justify-self: start;
    margin: 1rem;
    align-self: center;
    color: $color-primary;
    @media only screen and (min-width: $bp-medium) {
      &:hover {
        transition: all 0.2s;
        transform: translateY(-3px);
        color: $color-logo;

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
    }
  }

  &__cross-icon {
    display: grid;
    grid-area: cross;
    justify-self: end;
    align-self: center;
    color: $color-primary;
    margin: 1rem;
    @media only screen and (min-width: $bp-medium) {
      &:hover {
        transition: all 0.2s;
        transform: translateY(-3px);
        color: $color-logo;

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
    }
  }
}
