.banner-whrapper {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: grid;
  @include glassfilterError;
  z-index: 100;
}

.error-banner {
  justify-self: center;
  align-self: center;
  padding: 2rem;
  display: grid;
  background: rgb(223, 223, 223);
  border-radius: 10px;
  &__heading {
    font-size: 2rem;
    font-weight: 800;
    color: $color-primary;
    text-align: center;
    border: solid;
    border-width: 2px;
    border-right: none;
    border-top: none;
    border-left: none;
    border-color: $color-logo;
  }
  &__body {
    font-size: 1.7rem;
  }
}

.error-button {
  justify-self: end !important;
  box-shadow: none !important;
  &:hover {
    transform: none !important;
    box-shadow: none !important;
    background: linear-gradient(
      to right bottom,
      $color-primary,
      $color-primary-dark
    ) !important;
    color: white !important;
    &::after {
      transform: none;
      opacity: 0;
    }
  }
}
