.main-profile-page {
  display: grid;
  margin-top: $header-margin;
  height: 100%;
  width: 100%;
  grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
  grid-template-rows: min-content min-content minmax(71vh, min-content);
  gap: 2rem;
  grid-template-areas:
    " a headingPage headingPage e"
    "a headingProfile headingCards  e"
    "a profile cards  e";

  @media only screen and (max-width: $bp-preLargest) {
    grid-template-columns: 0.2fr 0.9fr 2fr 0.2fr;
    grid-template-rows: min-content min-content minmax(71vh, min-content);
    grid-template-areas:
      " a headingPage headingPage e"
      "a headingProfile headingCards  e"
      "a profile cards  e";
  }

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 0.9fr 2fr;
    grid-template-rows: min-content min-content minmax(71vh, min-content);
    grid-template-areas:
      "  headingPage headingPage "
      " headingProfile headingCards  "
      " profile cards  ";
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    margin-top: 2rem;
    grid-template-rows: min-content min-content min-content min-content minmax(
        71vh,
        min-content
      );
    grid-template-areas:
      "headingPage"
      " headingProfile" " profile" "headingCards  "
      "cards  ";
  }
}

////////////Heading Profile////////////

.heading-my-profile {
  display: grid;
  grid-area: headingProfile;
  padding: 2rem;
  grid-template-rows: 1fr 2rem;
  row-gap: 1rem;
  &__heading {
    margin-left: 2rem;
  }
  &__icon {
    color: $color-primary;
    margin-left: 3rem;

    &__active {
      -webkit-animation: 0.5s linear 0s infinite alternate move_arrow;
      -moz-animation: 0.5s linear 0s infinite alternate move_arrow;
      -o-animation: 0.5s linear 0s infinite alternate move_arrow;
      animation: 0.5s linear 0s infinite alternate move_arrow;
    }
  }
}
@-webkit-keyframes move_arrow {
  from {
    margin-top: -1%;
  }
  to {
    margin-top: 1%;
  }
}
@-moz-keyframes move_arrow {
  from {
    margin-top: -1%;
  }
  to {
    margin-top: 1%;
  }
}
@-o-keyframes move_arrow {
  from {
    margin-top: -1%;
  }
  to {
    margin-top: 1%;
  }
}
@keyframes move_arrow {
  from {
    margin-top: -1%;
  }
  to {
    margin-top: 1%;
  }
}

//////////// Profile Block ////////////

.block-my-profile {
  display: grid;
  grid-area: profile;
  @include glassfilter;
  padding: 2rem;
  row-gap: 2rem;
  margin: 2rem;
  height: min-content;
}

//////////// Heading Cards ////////////

.heading-my-cards {
  display: grid;
  grid-area: headingCards;
  padding: 2rem;
  grid-template-rows: 1fr 2rem;
  row-gap: 1rem;
  &__heading {
    margin-left: 2rem;
  }
}

////////////  Cards Block ////////////

.block-my-cards {
  display: grid;
  grid-area: cards;
  @include glassfilter;
  padding: 2rem;
  row-gap: 2rem;
  margin: 2rem;
  height: min-content;
  align-self: start;

  &__span {
    display: grid;
    justify-content: center;
  }

  &__list {
    border-top: solid;
    border-width: 2px;
    border-color: $color-logo;
    padding-top: 2rem;
    display: grid;
    row-gap: 1rem;
    &__span {
      display: grid;
      justify-content: center;
    }
  }
}
