.search-page {
  display: grid;
  margin-top: $header-margin;
  height: 100%;
  width: 100%;

  -webkit-overflow-scrolling: touch;

  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: min-content min-content min-content min-content min-content;
  gap: 2rem;
  grid-template-areas:
    "a b search search e"
    "a b paginationButtonsUpper d e"
    "a filter cards cards e"
    "a f paginationButtonsLower paginationSize  e";

  @media only screen and (max-width: $bp-preLargest) {
    grid-template-columns: 0.2fr 0.6fr 1fr 1fr 0.2fr;
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-areas:
      "a b search search e"
      "a b paginationButtonsUpper d e"
      "a filter cards cards e"
      "a f paginationButtonsLower paginationSize  e";
  }

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-areas:
      " b search search "
      " b paginationButtonsUpper d "
      " filter cards cards "
      " f paginationButtonsLower paginationSize  ";
  }

  @media only screen and (max-width: $bp-medium) {
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    grid-template-areas:
      "headingPage headingPage"
      "  search search "
      "filterMobile filterMobile"
      "  paginationButtonsUpper  paginationButtonsUpper"
      " cards cards "
      " paginationButtonsLower paginationButtonsLower" "
      paginationSize paginationSize ";
  }
}

///////////////////////// Search /////////////////////////

.search-block {
  display: grid;
  grid-area: search;
  grid-template-columns: 2fr 1fr;
  column-gap: 2rem;
  @media only screen and (max-width: $bp-preLargest) {
    padding: 1rem;
  }
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    row-gap: 2rem;
  }

  &__search {
    display: grid;
    grid-template-columns: 1fr min-content;
    transition: all 0.2s;
    border-radius: 10px;

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &__input {
      border-radius: 10px 0px 0px 10px !important;
    }

    &__icon {
      background: linear-gradient(
        to right bottom,
        $color-primary,
        $color-primary-dark
      );
      border-radius: 0px 10px 10px 0px;
      color: $color-grey-glass-icon;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
      transition: all 0.4s;
      cursor: pointer;
      &:hover {
        background: linear-gradient(
          to right bottom,
          $color-white,
          $color-grey-glass
        );
        color: black;
      }
    }
  }
}

.cards-block {
  display: grid;
  grid-area: cards;
  grid-template-rows: minmax(65vh, auto);
  padding-top: 1rem;
}

///////////////////////// Filter /////////////////////////

.filter-block {
  display: grid;
  grid-area: filter;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  row-gap: 2rem;
  width: 250px;
  justify-self: end;
  margin: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
  @include glassfilter;
  height: min-content;
  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.filter-select-experience {
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 1rem;
}

.filter-span {
  margin-left: 1rem;
}

.reload-whrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.reload-filter {
  text-decoration: underline;
  cursor: pointer;
  justify-self: end;
  font-size: 1.3rem;
  padding-right: 1rem;
  grid-column: 2/3;
  white-space: nowrap;
}

.close-filter {
  @media only screen and (min-width: $bp-medium) {
    display: none;
  }
  color: $color-primary;
  &:focus {
    outline: none;
  }
}

.no-vacancy-filter {
  display: grid;
  justify-self: center;
  padding: 2rem;
}

.no-resume-filter {
  display: grid;
  justify-self: center;
  padding: 2rem;
}

///////////////////////// Filter Mobile /////////////////////////
.filter-mobile-block {
  @include glassfilter;
  display: grid;
  grid-area: filterMobile;
  display: grid;
  justify-self: center;
  grid-template-columns: minmax(min-content, 40rem);

  row-gap: 2rem;
  margin: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
  height: min-content;
  @media only screen and (min-width: $bp-medium) {
    display: none !important;
  }
}
.filter-mobile-show-button {
  @media only screen and (min-width: $bp-medium) {
    display: none !important;
  }
  display: grid;
  grid-template-columns: minmax(min-content, 40rem);
}

///////////////////////// Page's Buttons /////////////////////////

.pagination-buttons-block {
  &__upper {
    height: 4rem;
    padding-left: 2rem;
    display: grid;
    grid-area: paginationButtonsUpper;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    column-gap: 1rem;
  }

  &__lower {
    display: grid;
    height: 4rem;
    padding-left: 2rem;
    grid-area: paginationButtonsLower;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    column-gap: 1rem;
  }

  &__no-buttons {
    white-space: nowrap;
  }
}

.first-page-span {
  @include glassfilter;
  padding: 1rem;
}

.left-page-button {
  display: grid;
  grid-column: 1/2;
}

.right-page-button {
  display: grid;
  grid-column: 2/3;
}

.last-page-span {
  justify-self: center;
  align-self: center;
  font-size: 1.2rem;
}
.first-page-span {
  justify-self: center;
  align-self: center;
  font-size: 1.2rem;
}
///////////////////////// Page Size /////////////////////////

.pagination-size-block {
  display: grid;
  grid-area: paginationSize;
  justify-self: end;
  padding-right: 4rem;
  grid-template-columns: min-content min-content min-content min-content;
  column-gap: 5px;

  &__span {
    align-self: center;
    white-space: nowrap;
  }
}
