.form-component {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
.delete-icon {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: end;
  color: $color-primary;
  @media only screen and (min-width: $bp-medium) {
    &:hover {
      transition: all 0.2s;
      transform: translateY(-3px);
      color: $color-logo;

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }
}
.input-element {
  display: grid;
  row-gap: 0.2rem;

  &__label {
    margin-left: 1.7rem;
  }

  &__input-field-small {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: $color-grey-glass;
    -webkit-appearance: none;
    border: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
    border-radius: 10px;
    resize: none;
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    transition: all 0.2s;
    letter-spacing: 0.3rem;
    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      padding-left: 2rem;
      font-weight: 800;
    }

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: $color-white-glass;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
      font-weight: 800;
      font-size: 1.5rem;
      color: black;

      @media only screen and (max-width: $bp-medium) {
        transform: none;
      }

      &::after {
        font-weight: 800;

        font-size: 1.5rem;
        color: black;
      }
    }

    &::placeholder {
      font-weight: 800;
      font-size: 1.5rem;
      color: $color-white-glass;
    }

    &::-webkit-input-placeholder {
      font-weight: 800;
      font-size: 1.5rem;
      color: $color-white-glass;
    }
    &::-ms-input-placeholder {
      font-weight: 800;
      font-size: 1.5rem;
      color: $color-white-glass;
    }
    &:focus::-webkit-input-placeholder {
      color: black;
    }
  }
}

.error-element {
  color: red;
  font-size: 1.4rem;
  margin-left: 1.7rem;
}

.radio-form {
  display: grid;
  row-gap: 1rem;
  margin-left: 0.4rem;
  justify-self: center;
  margin-top: 1rem;

  &__radio {
    display: grid;
    grid-template-columns: 1fr 10fr;

    &__label {
      margin-left: 1rem;
    }
    &__input {
      align-self: center;
      &:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: "";
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
      }
      &:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: $color-primary;
        content: "";
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
      }
    }
  }
}
